#navbar {
  background-color: #333;
  padding: 15px 15px 15px 150px;
}

#banner {
  background-image: url('../Images/banner.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

#banner .overlay {
  padding: 15px 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

#roomtype-item {
  margin: 10px 70px;
  padding: 10px;
  border: 1px solid #ddd;
  color: #727070;
}

#roomtype-item .img-room {
  width: 20%;
}

#roomtype-item .name {
  width: 20%;
  border-right: 1px solid #ddd;
}

#roomtype-item .name .star .fas {
  color: yellow;
}

#roomtype-item .detail {
  width: 20%;
  border-right: 1px solid #ddd;
}

#roomtype-item .price {
  width: 20%;
  border-right: 1px solid #ddd;
}

#roomtype-item .book {
  width: 20%;
}

#contact {
  padding: 10px 50px;
  margin: 50px 0;
}

#footer {
  padding: 10px 150px;
  background-color: #fafafa;
}

#footer .fab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #333;
  border-radius: 50%;
}