.contact {
  border: 1px solid #ddd;
  background-color: #fdeaea;
}

.contact .img-check {
  width: 108px;
  height: 108px;
}

.contact .fb {
  color: #fff;
  background-color: #337ab7;
  padding: 5px 20px;
  border-radius: 15px;
}

.contact .tweet {
  color: #fff;
  background-color: #039be5;
  padding: 5px 20px;
  border-radius: 15px;
}

.contact .google {
  color: #fff;
  background-color: #dd4b39;
  padding: 5px 20px;
  border-radius: 15px;
}